---
import Layout from '../layouts/Layout.astro';
import ListProducts from '../sections/ListProducts.astro';
---

<Layout title="PLASTIGESA - Catálogo de productos" description="PLASTIGESA E.I.R.L. es una empresa dedicada a la fabricación de empaques flexibles y embalajes en alta y baja densidad. Empresa familiar, 100% arequipeña, lider en fabricación de bolsas plásticas, ofrecemos los mejores productos plasticos para desechos, Plastigesa es la empresa lider en fabricación de bolsas, cintas de amarre, Stretch Film, para uso industrial o agricola, en el hogar, oficina, clinicas y hospitales.">
	<main class="container mx-auto">
        <ListProducts />
	</main>
</Layout>
