---
const { icon: IconComponent, title, description } = Astro.props
---
<div class="bottom-element flex flex-col items-center">
    <IconComponent class="size-36 bg-primary rounded-full text-white p-8"/>
    <p class="font-bold text-xl lg:text-2xl text-primary dark:text-green-300 my-4">{title}</p>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-200">{description}</p>
</div>
