---
import WhatsAppIcon from "../icons/WhatsApp.astro";
---

<div class="fixed end-6 bottom-6 group">
    <a href="https://api.whatsapp.com/send?phone=51996964540&text=Deseo%C2%A0Informaci%C3%B3n%C2%A0de%C2%A0las%C2%A0bolsas" target="_blank" class="flex items-center justify-center text-white bg-primary rounded-full w-14 h-14 hover:bg-secondary dark:bg-green-600 dark:hover:bg-green-700">
        <WhatsAppIcon />
        <span class="sr-only">Abrir WhatsApp</span>
    <a/>
</div>
