<section class="bg-white dark:bg-gray-900">
    <div
        class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 flex flex-col gap-y-8 justify-around lg:flex-row"
    >
        <div class="bottom-element">
            <p
                class="mb-2 lg:mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
            >
                <span id="counter1" class="text-green-700 dark:text-green-300"
                ></span> años
            </p>
            <p
                class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200"
            >
                brindando servicio de calidad
            </p>
        </div>
        <div class="bottom-element">
            <p
                class="mb-2 lg:mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
            >
                <span id="counter2" class="text-green-700 dark:text-green-300"
                ></span> toneladas
            </p>
            <p
                class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200"
            >
                fabricadas y vendidas a nivel nacional
            </p>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        function animateValue(id, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min(
                    (timestamp - startTimestamp) / duration,
                    1,
                );
                document.getElementById(id).innerText =
                    "+" +
                    Math.floor(progress * (end - start) + start).toString();
                if (progress < 1) {
                    window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        const target = entry.target;
                        if (target.id === "counter1") {
                            animateValue("counter1", 1, 15, 2000);
                        } else if (target.id === "counter2") {
                            animateValue("counter2", 1, 20, 2000);
                        }
                        observer.unobserve(target);
                    }
                });
            },
            { threshold: 0.5 },
        );

        observer.observe(document.getElementById("counter1"));
        observer.observe(document.getElementById("counter2"));
    });
</script>
