---
import MailIcon from "../icons/Mail.astro";
import Next from "../icons/Next.astro";
---

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-1 relative">
        <a href="/blog" class="bottom-element inline-flex justify-between items-center py-1 px-1 pe-4 mb-7 text-sm text-green-700 bg-green-100 rounded-full dark:bg-green-900 dark:text-green-300 hover:bg-green-200 dark:hover:bg-green-800">
            <span class="text-xs bg-green-600 rounded-full text-white px-4 py-1.5 me-3">Nuevo</span> <span class="text-sm font-medium">PLASTIGESA estuvo presente en la FIA 2024. Ver más</span> 
            <Next class="size-2.5 ms-2 rtl:rotate-180"/>
        </a>
        <h1 class="bottom-element mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Tu aliado en empaques flexibles</h1>
        <p class="bottom-element mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200">Ofrecemos la más alta tecnología en fabricación de bolsas plásticas, soluciones en embalaje y bolsas personalizadas buscando la satisfacción de nuestros clientes.</p>
        <form class="bottom-element w-full max-w-md mx-auto">   
            <label for="default-email" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Email sign-up</label>
            <div class="relative">
                <div class="absolute inset-y-0 rtl:inset-x-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <MailIcon class="size-4 text-gray-500 dark:text-gray-400" />
                </div>
                <input type="email" id="default-email" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-green-500 focus:border-green-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Ingrese su correo aquí..." required />
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Suscríbete</button>
            </div>
        </form>
    </div>
</section>
