---
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/atkinson-hyperlegible/400-italic.css";
import "@fontsource/atkinson-hyperlegible/700-italic.css";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import WsButton from "../components/WsButton.astro";

const { title, description, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/blog.css">
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
		<title>{frontmatter?.title ?? title}</title>
	</head>
	<body class="bg-white dark:bg-gray-900">
		<div>
			<Header />
			<div class="bg-white dark:bg-gray-900">
				<main class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
					<slot />
				</main>
			</div>
			<WsButton />
			<Footer />
		</div>
	</body>
</html>
<style>
	html {
		font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
	}
</style>
