---
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/atkinson-hyperlegible/400-italic.css";
import "@fontsource/atkinson-hyperlegible/700-italic.css";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import WsButton from "../components/WsButton.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
		></script>
		<link
			href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/styles/global.css">
		<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-[#141827]">
		<div>
			<Header />
			<slot />
			<WsButton />
			<Footer />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
	}
</style>
